/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

.btn-custom{
    background-color: #DC4412;
    border-color: #DC4412;
    color: #ffffff;
}
.btn-custom:hover{
    border-color: #DC4412;
    color: #DC4412;
}

.custom-input {
    border: 2px solid;
    border-color: #959595;
}

.custom-input:focus {
    border: 2px solid;
    border-color: #FF6000;
    outline: none; 
    box-shadow: none; 
}

.nav-link.active{
    color : white
}
.btn-custom-green{
    background-color: #07A436;
    border-color: #07A436;
    color: #ffffff;
}
.btn-custom-green:hover{
    border-color: #07A436;
    color: #07A436;
}
.min-vh-100 {
    min-height: 100vh;
  }
  